<div class="card type--profile">
	<header class="card-header card-background {{backgroundImgClass}}">
		<img src="{{avatarImgPath}}" alt="" class="rounded-circle">
	</header>
	<div class="card-block">
		<h3 class="name">{{title}}</h3>
		<span class="title">{{subtitle}}</span>
		<button type="button" class="btn btn-accent btn-round">Connect</button>
	</div>
	<footer class="card-footer border-top m-t-15">
		<div class="row p-t-10 p-b-10">
			<div class="col"><span class="count">{{postCount}}</span><span>Post</span></div>
			<div class="col"><span class="count">{{followersCount}}</span><span>Followers</span></div>
			<div class="col"><span class="count">{{followingCount}}</span><span>Following</span></div>
		</div>
	</footer>
</div>