<div id="content_wrapper" class="boxedlayout2-wrapper">
	<div class="content">
		<div class="header-wrapper header-lg overlay">
			<div class="container">
				<div class="row">
					<div class="col">
						<header>
							<h1>SWAPI - Frontend</h1>
						</header>
					</div>
				</div>
			</div>
		</div>
		<div class="content-body container">
			<div class="row">
				<div class="col">
					<div class="card">
						<header class="card-header">
							<h2 class="card-title">Olá!</h2>
							<small class="card-subtitle">Me chamo Vitor Barbosa.</small>
						</header>
						<div class="card-block">
							<p>Esse projeto levou algo em torno de 13 horas para ser desenvolvido e utiliza como base Angular, com Material Design e Bootstrap como os frameworks de estilo, além disso ele consome dados da SWAPI.
							</p>
							<p>
								Para navegar pelo site utilize o menu a esquerda, onde estão listados todos os filmes de Star Wars, ao expandir o submenu de cada filme você verá a opção de detalhes, ao clicar nela abrirá uma página com o famoso texto introdutório do filme e a ficha
								técnica, note que no canto superior direito dentro desta tela existe um menu, no qual você terá acesso aos personagens e naves de cada filme, ainda não dá para se conectar com seu personagem preferido, esses botões que aparecem ali são um pequeno
								showoff do que poderia ser uma ficha de cada um deles em uma evolução.
							</p>
							<p>
								A pesquisa ainda não está implementada, ficou ali apenas porque essa animação ficou muito boa, opa, quase esqueci, mas do lado do ícone de pesquisa você pode escolher o seu lado da força, cores mais sombrias como um lord Sith gostaria, ou cores mais claras
								como os Jedi?
							</p>
							<p>
								Que a força esteja com você!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>